<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/idfind.css" type="text/css">
</head>
<body>
  <div id="root">
    <!-- 전체 창 -->
  <header>
    <!-- 맨위에 박스 -->
    <div>
      <!-- 맨위에 박스안에 로고 -->
      <img src="./로고.png" width="60px" , height="60px">
    </div>
  </header>
  <form action="/idfind" method='post'>
    <main>
      <!-- 가운데 큰박스 -->
      <div>아이디 찾기</div>
      <!-- 아이디 찾기 박스 -->
      <div>이름</div>
      <!-- 이름 박스 -->
      <input type='text' name='name' placeholder="이름">
      <!-- 아이디 치는 박스 -->
      <div>폰번호</div>
      <!-- 폰번호 박스 -->
      <input type='text' name='phone' placeholder="폰번호">
      <div>
       <button type="submit">찾기</button>
      </div>
      <!-- 찾기 버튼 -->
    </main> 
  </form> 
</div>
</body>
</html>